@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300;0,400&display=swap');

$font-size-root: 16px;
$line-height: 1.4;
$font-family-serif: "Playfair Display"; 
$font-family-base: "Lato";

$light-gray: #F7FDFE;
$green: #006D77;
$light-green: #83C5BE;